#version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: altay-boots
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/altay-boots
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: password
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: mysql:8.0.41
    container_name: mysql-8.1
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: altay-boots
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: unless-stopped
volumes:
  db_data:
