name: Deploy Spring Boot Application

on:
  push:
    branches:
      - main # Запускать при пуше в ветку main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest # Используем стандартный GitHub runner

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # 1. Сборка проекта (если вы используете Gradle)
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build with Gradle
        uses: gradle/actions/setup-gradle@v3
      - run: chmod +x gradlew # Убедитесь, что скрипт исполняемый
      - run: ./gradlew clean build -x test

      # 2. Настройка SSH-доступа
      - name: Set up SSH Agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SERVER_SSH_KEY }}
            
            # 3. Деплой и перезапуск
      - name: Deploy to Server and Restart Service
        run: |
          # 3.1. Убеждаемся, что хост добавлен (важно для первого раза)
          # Используем секрет порта везде
          ssh-keyscan -p ${{ secrets.SERVER_PORT }} ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts
                          
          # 3.2. Передача JAR-файла на сервер
          # В rsync порт указывается внутри кавычек через -p
          rsync -avz \
          -e "ssh -p ${{ secrets.SERVER_PORT }} -o StrictHostKeyChecking=no" \
          ./build/libs/altayboots-0.0.1-SNAPSHOT.jar \
          ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }}:/home/${{ secrets.SERVER_USER }}/project/build/libs/
                               
          # 3.3. Удаленное выполнение команд
          # Добавляем флаг -p 2222 для команды ssh
          ssh -p ${{ secrets.SERVER_PORT }} ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} "
            echo 'Deploying and restarting service...'
            sudo systemctl stop altayboots
            sudo systemctl start altayboots
            echo 'Deployment complete.'"